/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --backgroung-img: repeating-linear-gradient(
      -90deg,
      transparent,
      transparent 2px,
      #d3d3d3 2px,
      #d3d3d3 4px
    ),
    repeating-linear-gradient(
      transparent,
      transparent 2px,
      #d3d3d3 2px,
      #d3d3d3 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
  --backup-background: #fff;
  --border-color: #000;
  --main-wght: 400;
  --accent-wght: 700;
  --main-text-color: #000;
  --attractive-text-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --card-button-text-color: #fff;
  --button-cover-color: #000;
  --contour-color: #000;
  --sparks-color: #FF0000;
  --main-body-color-hover: #000;
  --core-color-hover: #000;
  --main-body-color-active: #FF0000;
  --core-color-active: #FF0000;
  --contour-color-active: #FF0000;
}

:root.theme-dark {
  --backgroung-img: repeating-linear-gradient(
      -90deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    ),
    repeating-linear-gradient(
      #007f0c,
      #007f0c 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(#007f0c, #004306);
  --backup-background: #000;
  --border-color: #00cc14;
  --main-wght: 465;
  --accent-wght: 785;
  --main-text-color: #00cc14;
  --attractive-text-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --card-button-text-color: #00cc14;
  --button-cover-color: #00cc14;
  --contour-color: #00cc14;
  --sparks-color: #FF0000;
  --main-body-color-hover: #00cc14;
  --core-color-hover: #00cc14;
  --main-body-color-active: #FF0000;
  --core-color-active: #FF0000;
  --contour-color-active: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroung-img: repeating-linear-gradient(
      -90deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    ),
    repeating-linear-gradient(
      #007f0c,
      #007f0c 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(#007f0c, #004306);
    --backup-background: #000;
    --border-color: #00cc14;
    --main-wght: 465;
    --accent-wght: 785;
    --main-text-color: #00cc14;
    --attractive-text-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --card-button-text-color: #00cc14;
    --button-cover-color: #00cc14;
    --contour-color: #00cc14;
    --sparks-color: #FF0000;
    --main-body-color-hover: #00cc14;
    --core-color-hover: #00cc14;
    --main-body-color-active: #FF0000;
    --core-color-active: #FF0000;
    --contour-color-active: #FF0000;
  }
}
